---
import './RecentPost.scss';
import { Image } from 'astro:assets';

interface Props {
	slug: string;
	data: {
		image: {
			src: string;
			alt: string;
		};
		title: string;
		date: string;
	};
}

const { data, slug } = Astro.props;
const { title, date, image } = data;
---

<a
	href={`blog/${slug}`}
	transition:name={slug}>
	<div class="post-container">
		<span class="title-date">
			<h1>{title}</h1>
			<p title="dd/mm/yyyy">{date}</p>
		</span>
		<span class="post-img">
			<Image
				src={image.src}
				alt={image.alt}
				height={200}
				width={200}
			/>
		</span>
	</div>
</a>
